#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #34ebe8;
}

body { width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  place-items: center;
  overflow-x: hidden;
}

input{ border-radius: 8px;
  border: 1px solid #0000;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
 }

.App {
  font-family: sans-serif;
  text-align: center;
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color:#c276b4;
  border: 8px solid transparent;
  border-radius: 20px;

}

.container1 {
  font-size: 3.2em;
  line-height: 1.1;
  border-radius: 10px;
  border: 1px solid #0000;
  background-color: #82086c;
}

.App, .container1, .container2 { text-align: center;
margin-left: auto;
margin-right: auto;
padding: 10px;
margin: 0;}

button {   background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
p { color: black;}
